# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Secrets
secrets.auto.tfvars
ansible-router/group_vars/all/secrets.yml
ansible-k3s/group_vars/all/vault.yml
manifests/portfolio/secret.yaml

# OS
.DS_Store
