k3s_version: ""
k3s_server_ip: "192.168.50.14"
k3s_container_ids: [113, 114, 115]
nfs_server: "192.168.50.44"
nfs_path: "/mnt/MainPool/local_data/k8s"
proxmox_host_ip: "192.168.50.12"
proxmox_password: "CHANGEME"
manager_ip: "192.168.50.28"
