[Unit]
Description=Jupyter Notebook Server
After=network.target

[Service]
Type=simple
User=jupyter
ExecStart=/home/jupyter/jupyter-env/bin/jupyter notebook
WorkingDirectory=/home/jupyter
Restart=always

[Install]
WantedBy=multi-user.target
