TIMELAPSE_LAT={{ timelapse_latitude }}
TIMELAPSE_LON={{ timelapse_longitude }}
TIMELAPSE_TZ={{ timelapse_timezone }}
TIMELAPSE_LOCATION={{ timelapse_location }}
TIMELAPSE_RTSP_URL={{ timelapse_rtsp_url }}
TIMELAPSE_INTERVAL={{ timelapse_interval }}
TIMELAPSE_FPS={{ timelapse_fps }}
TIMELAPSE_FRAME_DIR={{ timelapse_frame_dir }}
TIMELAPSE_OUTPUT_DIR={{ timelapse_output_dir }}
